//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-background: #001529;
//顶部导航高度
$base-tabbar-height: 50px;
//左侧logo的高度全局变量
$base-menu-logo-height: 50px;
$base-logo-title-fontsize:20px;
$base-menu-min-withd:49px;